body { font-family: 'Product Sans'; font-size: calc(13px + (18 - 13) * ((100vw - 768px) / (1600 - 768))); line-height: calc(1.4em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300))); }
h1, h2, h3 { color:#464646; }
h1 { font-size:calc(5rem + 6vw); line-height: 1; font-weight:700; font-family: 'Product Sans'; margin: 0px; }
h2 { font-size:calc(2rem + 2vw); line-height: 1; font-weight:700; font-family: 'Product Sans'; text-transform:uppercase; }
a { color: #000; }

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham Condensed';
  src: url('fonts/GothamCondensed-Bold.eot');
  src: url('fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/GothamCondensed-Bold.woff') format('woff'),
       url('fonts/GothamCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


.project-bucket {
    border-bottom: 1px solid #000;
    padding: 50px 0;
}
.numero {
		font-family: 'Product Sans';
		font-size: 12px;
		line-height:16px;
		vertical-align: top;
		padding-right: 30px;
    letter-spacing: 2px;
}
.titulo {
		font-family: 'Product Sans';
		font-size: 60px;
		line-height: 64px;
}
.titulo a {
		text-decoration: none;
}
.titulo a:hover {
    color:#464646;
}
.section.equalheight-touts.reference .four.columns {
    text-align: left;
}
.section ul li, ol li {
    margin-bottom: 0px;
    list-style:inside;
}
.footer {
    font-size: 10px;
    letter-spacing: 2px;
    padding: 50px 0px;
}



/*
================================
MEDIA QUERIES
================================
*/

/* MDPI Screen */
@media (min-width: 1024px) and (max-width: 1280px) {

}

/* HiDPI Screen */
@media (min-width: 1285px) and (max-width: 1440px) {

}

/* Mobile and Tablets - Landscape */
@media (min-width: 768px) and (max-width: 1199px) {

}

/* Mobile - Portrait */
@media (max-width: 767px) {
    .for-mobile { display: inherit !important; }
    .for-desktop { display: none !important; }
    /*.container-skel { padding: 0px; }*/

}
